/* Globals. */
html {
    color: #0C0F0A;
}
.region-sidebar-first, .region-sidebar-second, .region-footer, .region-content {
    padding: 0;
}

/* Page Title. */
/* .block-page-title-block {

} */

h1 {
    border-left: 4px solid #FF7900;
    margin-bottom: 25px;
    padding-left: 35px;
}

/* Menus. */
header {
    padding: 30px 15px;
}
.region-header {
    /* display: flex; */
    /* justify-content: space-between; */
}
/* Main menu. */
.menu--main ul {
    display: flex;
    font-weight: bold;
}

@media (min-width: 1200px) {
    .menu--main ul {
        flex-direction: row;
    }
}

/* User menu. */
.menu--account ul {
    display: flex;
    font-weight: bold;
}

@media (min-width: 1200px) {
    .menu--account ul{
        flex-direction: row;
    }
}


.navbar-nav .is-active, .navbar-nav .active, .navbar-nav .active.is-active {
    color: #009A49;
}

.block-system-branding-block, .menu--account, .menu--main {
    padding: 0;
}

.menu--account, .menu--main {
    margin-left: -8px;
}


/* Headings. */
h2 {
    color: #009A49;
    text-align: center;
    width: 100%;
}

/* Elements. */
img:not(.image-style-thumbnail) {
    width: 100%;
}

label {
    font-weight: bold;
}



/* About.
#block-about .field--name-body {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
} */

/* Members. */
.block-views-blockmembers-block-1 {
    /* background-color: lightgrey; */
    padding-left: 50px;
    padding-right: 50px;
}

.view-members .view-header {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.view-members .view-content {
    display: flex;
    /* justify-content: space-between; */
}

.view-members .view-content .views-row {
    /* background-color: #FF7900; */
    /* background: linear-gradient(to top, #FF7900, #FFBC80); */
    border-radius: 10px;
    margin-right: 50px;
    max-width: 250px;
    padding: 50px 25px;
    width: 100%;
}

.view-members .views-field-user-picture {
    align-content: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    max-height: 200px;
    max-width: 200px;
    overflow: hidden;
}
.view-members .views-field-user-picture .field-content {
    width: 100%;
}
/* .view-members .views-field-user-picture img{

} */
.view-members .views-field-field-last-name,
.view-members .views-field-field-first-name {
    display: flex;
    justify-content: center;
}

.view-members .views-field-field-last-name a,
.view-members .views-field-field-first-name a {
    color: #FF7900;
    font-weight: bold;
    text-decoration: none;
}

/* Main. */
main {
    margin-bottom: 30px;
}

/* Footer. */
footer {
    border-top: 3px solid #009A49;
    padding: 15px 15px 0;
}
#block-umfstcopyrightyear {
    display: flex;
    justify-content: center;
}

/* Research */
a {
    color: #0C0F0A;
    text-decoration: none;
}

a:hover {
    color: #009A49;
}

article h2 {
    text-align: inherit;
}

article, article.container {
    padding: 0;
}

button, .button, .btn {
    background-color: #009A49;
    border-radius: 0;
    border-color: #009A49;
    color: #fff;
}

button:hover, .button:hover, .btn:hover {
    border-color: transparent;
    background-color: transparent;
    color: #009A49;
}

button a, .button a, .btn a {
    color: #fff;
}

button:hover a, .button:hover a, .btn:hover a {
    color: #009A49;
}

.view-research .views-field-view-node {
    display: flex;
    justify-content: end;
}

.views-field-title h2 {
    text-align: inherit;
}

/* Title. */
.block-page-title-block {
    margin-bottom: 50px;
}